<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" class="nav-link" routerLink='/admin/users' routerLinkActive='active' data-toggle="tab"  role="tab" aria-controls="home" aria-selected="true">
        Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/admin/lots' routerLinkActive='active' data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false">
        Lots</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  class="nav-link"  routerLink='/admin/bids' routerLinkActive='active' data-toggle="tab"  role="tab" aria-controls="contact" aria-selected="false">
        Bids</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
    <router-outlet></router-outlet>
</div>
