<div *ngIf="users" class="container">
  <ul *ngFor="let user of users" class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between">
      <div>
        <a class="nav-link active">
          ID: {{user.id}}; Login: {{user.userName}}; Email: {{user.email}}; First name:{{user.firstName}}; Last
          name:{{user.lastName}}; Addres:{{user.addres}}; Phone:{{user.phone}};
        </a>
      </div>
      <div>
        <button (click)="onClickDelete(user.id)" class="btn btn-danger">Delete</button>
      </div>
    </li>
  </ul>
</div>