<div class="container ">
    <ul *ngFor="let bid of sortedBids()" class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between">
          <div >
            <a (click)="onSelect(bid.lotId)" class="nav-link active" routerLink="">
               Bid ID: {{bid.id}}; user ID: {{bid.userId}}; User name: {{bid.userName}}; {{bid.bidPrice}} $; {{bid.bidDate | date:'short'}}; Lot ID : {{bid.lotId}}
            </a>
          </div>
            <div>
            <button (click)="onClickDelete(bid.id)" class="btn btn-danger">Delete</button>
          </div>
        </li>
      </ul>
    </div>